<section id="about" class="about">
  <div class="container about-container">
    <div class="about-layout">
      <picture class="about-picture">
        <source
          srcset="/img/crafting-process.jpg 1x, /img/crafting-process@2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <img
          class="about-img"
          src="/img/crafting-process.jpg"
          srcset="/img/crafting-process.jpg 1x, /img/crafting-process@2x.jpg 2x"
          alt="Jewelry making process"
          width="335"
          height="335"
        />
      </picture>

      <div class="about-content">
        <h2 class="about-title">The Artistry Behind Handmade Jewelry</h2>
        <p class="about-text">
          Handmade Jewelry began as a passion project, inspired by the beauty of
          nature and the desire to create meaningful pieces. Each item is
          crafted with love, reflecting our commitment to sustainability and the
          unique story of its maker.
        </p>

        <ul class="about-list">
          <li class="about-item">
            <svg class="about-icon" width="24" height="24" aria-hidden="true">
              <use href="/img/icons.svg#icon-leaf"></use>
            </svg>
            <span class="about-item-text">Inspired by Nature</span>
          </li>
          <li class="about-item">
            <svg class="about-icon" width="24" height="24" aria-hidden="true">
              <use href="/img/icons.svg#icon-donate-heart"></use>
            </svg>
            <span class="about-item-text">Handcrafted with Love</span>
          </li>
          <li class="about-item">
            <svg class="about-icon" width="24" height="24" aria-hidden="true">
              <use href="/img/icons.svg#icon-book"></use>
            </svg>
            <span class="about-item-text">Every Piece Tells a Story</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
