<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-top">
        <div class="footer-brand">
          <div class="footer-logo">
            <a href="/index.html">
              <img
                src="/img/frame-logo.svg"
                alt="Handmade Jewelry"
                class="footer-logo-icon"
              />
            </a>
          </div>

          <ul class="footer-socials">
            <li>
              <a
                href="https://www.facebook.com/"
                target="_blank"
                rel="noopener noreferrer"
                class="footer-socials-link"
              >
                <svg class="footer-socials-icon">
                  <use href="/img/icons.svg#icon-Facebook"></use>
                </svg>
              </a>
            </li>

            <li>
              <a
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener noreferrer"
                class="footer-socials-link"
              >
                <svg class="footer-socials-icon">
                  <use href="/img/icons.svg#icon-Instagram"></use>
                </svg>
              </a>
            </li>

            <li>
              <a
                href="https://x.com/"
                target="_blank"
                rel="noopener noreferrer"
                class="footer-socials-link"
              >
                <svg class="footer-socials-icon">
                  <use href="/img/icons.svg#icon-X"></use>
                </svg>
              </a>
            </li>

            <li>
              <a
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noopener noreferrer"
                class="footer-socials-link"
              >
                <svg class="footer-socials-icon">
                  <use href="/img/icons.svg#icon-LinkedIn"></use>
                </svg>
              </a>
            </li>

            <li>
              <a
                href="https://www.youtube.com/"
                target="_blank"
                rel="noopener noreferrer"
                class="footer-socials-link"
              >
                <svg class="footer-socials-icon">
                  <use href="/img/icons.svg#icon-Youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <nav>
          <ul class="footer-nav-list">
            <li>
              <a href="#about" class="nav-link">About us</a>
            </li>
            <li>
              <a href="#benefits" class="nav-link">Benefits</a>
            </li>
            <li>
              <a href="#gallery" class="nav-link">Gallery</a>
            </li>
            <li>
              <a href="#testimonials" class="nav-link">Testimonials</a>
            </li>
            <li>
              <a href="#contacts" class="nav-link">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="footer-bottom">
        <p>&copy; 2025 Handmade Jewelry. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
