<header class="header">
    <div class="container header-container">

        <!-- LOGO -->
        <a href="/" class="logo">
            <img class="header-logo-icon" src="/img/logo.jpg" srcset="/img/logo.jpg 1x, /img/logo@2x.jpg 2x"
                alt="Handmade Jewelry logo" width="84" height="36">
        </a>

        <!-- NAV -->
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="#about" class="nav-link">About us</a></li>
                <li><a href="#benefits" class="nav-link">Benefits</a></li>
                <li><a href="#gallery" class="nav-link">Gallery</a></li>
                <li><a href="#testimonials" class="nav-link">Testimonials</a></li>
                <li><a href="#contacts" class="nav-link">Contacts</a></li>
            </ul>
        </nav>

        <a href="#contacts" class="btn header-btn">Order Now</a>

        <!-- BURGER -->
        <button class="burger js-open-menu" type="button" aria-label="Open menu" aria-expanded="false"
            aria-controls="mobile-menu">
            <svg width="24" height="24">
                <use href="/img/icons.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
</header>
