<div class="mobile-menu" id="mobile-menu">
    <div class="mobile-menu-container">

        <div class="mobile-header">
            <a href="/" class="logo">
                <svg width="30" height="26">
                    <use href="/img/icons.svg#icon-logo"></use>
                </svg>
            </a>

            <button class="menu-close" aria-label="Close menu">
                <svg width="12" height="12">
                    <use href="/img/icons.svg#icon-x-close"></use>
                </svg>
            </button>
        </div>

        <nav class="mobile-nav">
            <ul class="mobile-nav-list">
                <li><a href="#about" class="mobile-link">About us</a></li>
                <li><a href="#benefits" class="mobile-link">Benefits</a></li>
                <li><a href="#gallery" class="mobile-link">Gallery</a></li>
                <li><a href="#testimonials" class="mobile-link">Testimonials</a></li>
                <li><a href="#contacts" class="mobile-link">Contacts</a></li>
            </ul>
        </nav>

        <a href="#contacts" class="btn mobile-btn">Order Now</a>

    </div>
</div>