<!-- ================== SECTION ================== -->
<section class="showcase-section section">
  <div class="container showcase-container">
    <!-- Header: title + description -->
    <div class="showcase-top">
      <h2 class="showcase-title">Customer testimonials</h2>
      <p class="showcase-description">
        Absolutely love my new earrings! They are stunning.
      </p>
    </div>
    <!-- ================== LIST ================== -->
    <ul class="showcase-list">
      <!-- ===== ITEM 1: images on left, review on right ===== -->
      <li class="showcase-item">
        <!-- Images block -->
        <div class="showcase-images">
          <img
            class="showcase-img"
            src="./img/girl.jpg"
            srcset="./img/girl.jpg 1x, ./img/girl@2x.jpg 2x"
            alt="Woman wearing handmade earrings"
            width="400"
          />
          <img
            class="showcase-img"
            src="./img/man.jpg"
            srcset="./img/man.jpg 1x, ./img/man@2x.jpg 2x"
            alt="Man wearing handmade necklace"
            width="400"
          />
        </div>
        <!-- Review card -->
        <div class="showcase-review">
          <!-- Rating stars -->
          <div class="showcase-stars" aria-label="Rating 4 out of 5">
            <svg class="showcase-star" width="32" height="32">
              <use href="./img/icons.svg#icon-star-fiiled"></use>
            </svg>
            <svg class="showcase-star" width="32" height="32">
              <use href="./img/icons.svg#icon-star-fiiled"></use>
            </svg>
            <svg class="showcase-star" width="32" height="32">
              <use href="./img/icons.svg#icon-star-fiiled"></use>
            </svg>
            <svg class="showcase-star" width="32" height="32">
              <use href="./img/icons.svg#icon-star-fiiled"></use>
            </svg>
            <!-- Empty star -->
            <svg class="showcase-star showcase-star-outline" width="32" height="32">
              <use href="./img/icons.svg#icon-star-outline"></use>
            </svg>
          </div>
          <!-- Review text -->
          <p class="showcase-review-text">
            "Each piece tells a story, and I love mine!"
          </p>
          <!-- Author name -->
          <p class="showcase-review-name">Thomas Mans</p>
        </div>
      </li>
      <!-- ===== ITEM 2: reversed layout (review first) ===== -->
      <li class="showcase-item showcase-item-reverse">
        <!-- Review card -->
        <div class="showcase-review">
          <!-- Rating stars -->
          <div class="showcase-stars" aria-label="Rating 5 out of 5">
            <svg class="showcase-star" width="32" height="32">
              <use href="./img/icons.svg#icon-star-fiiled"></use>
            </svg>
            <svg class="showcase-star" width="32" height="32">
              <use href="./img/icons.svg#icon-star-fiiled"></use>
            </svg>
            <svg class="showcase-star" width="32" height="32">
              <use href="./img/icons.svg#icon-star-fiiled"></use>
            </svg>
            <svg class="showcase-star" width="32" height="32">
              <use href="./img/icons.svg#icon-star-fiiled"></use>
            </svg>
            <svg class="showcase-star" width="32" height="32">
              <use href="./img/icons.svg#icon-star-fiiled"></use>
            </svg>
          </div>
          <!-- Review text -->
          <p class="showcase-review-text">
            "The craftsmanship is exquisite, and I feel unique wearing it."
          </p>
          <!-- Author name -->
          <p class="showcase-review-name">Jane Edison</p>
        </div>
        <!-- Images block -->
        <div class="showcase-images">
          <img
            class="showcase-img"
            src="./img/coffe.jpg"
            srcset="./img/coffe.jpg 1x, ./img/coffe@2x.jpg 2x"
            alt="Hands holding a cup with handmade bracelet"
            width="400"
          />
          <img
            class="showcase-img"
            src="./img/ring-close-up.jpg"
            srcset="./img/ring-close-up.jpg 1x, ./img/ring-close-up@2x.jpg 2x"
            alt="Hands holding handmade ring"
            width="400"
          />
        </div>
      </li>
    </ul>
  </div>
</section>