
.gallery-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;

  max-width: 550px;
  margin: 0 auto 40px;
}

.gallery-title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0;
}

.gallery-descr {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
 
  margin: 0 auto;
  


}

.gallery-list {
  list-style: none;
  padding: 0;
  margin: 0;

  column-count: 1;
  column-gap: 16px;
}

.gallery-item {
  margin-bottom: 16px;
  break-inside: avoid;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .gallery-header {
    margin-bottom: 80px;
  }

  .gallery-list {
    column-count: 2;
    column-gap: 24px;
  }

  .gallery-item {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1158px) {
  .gallery-title {
    font-size: 48px;
    line-height: 1.1;
  }

  .gallery-list {
    column-count: 2;
    column-gap: 32px;
  }
}
