/* HEADER */

.header {
  padding: 12px 0;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */

.logo {
  flex-shrink: 0;
}

.logo-img {
  width: 149px;
  height: auto;
}

/* NAV */

.nav {
  display: none;
}

.nav-list {
  display: flex;
  gap: 16px;
}

/* BUTTON */

.header-btn {
  display: none;
}

/* BURGER */

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: none;
  border: none;
}

/* ================= TABLET ================= */

@media screen and (min-width: 768px) {
  .logo-img {
    width: 84px;
  }

  .burger {
    display: none;
  }

  .nav {
    display: block;
  }

  .header-btn {
    display: inline-flex;
  }

  .header {
    padding: 18px 0;
  }
}

/* ================= DESKTOP ================= */

@media screen and (min-width: 1440px) {

  .header-btn {
    margin-left: auto;
    min-width: 192px;
  }

  .nav-list {
    gap: 32px;
  }

  .header-wrap {
    gap: 32px;
  }
}