.hero {
  padding-top: 160px;
  padding-bottom: 152px;
  background-color: #2e2f42;
  background-image: url(/img/header-mob.jpg);
  background-size: cover;
  background-position: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero-title {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  text-align: left;
  margin-bottom: 24px;
}

.hero-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  text-align: left;
}

@media screen and (min-resolution: 2x) {
  .hero {
    background-image: url(/img/header-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(/img/header-tab.jpg);
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: url(/img/header-tab@2x.jpg);
    }
  }

  .hero-container {
    max-width: 513px;
    margin-left: 0;
  }

  .hero-button {
    max-width: 217px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image: url(/img/header.jpg);
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: url(/img/header@2x.jpg);
    }
  }
}
