/* ================== SECTION ================== */

.showcase-section {
  padding: 64px 0;
  background-color: #fff;
}

.showcase-container {
  max-width: 375px;
  padding: 0 20px;
}

.showcase-top {
  margin-bottom: 40px;
  text-align: center;
}

.showcase-title {
  margin-bottom: 24px;
  font-family: 'Sora', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

/* ================== STRUCTURE ================== */

.showcase-list,
.showcase-item,
.showcase-images {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* ================== IMAGE ================== */

.showcase-img {
  width: 100%;
  object-fit: cover;
}

/* ================== REVIEW ================== */

.showcase-review {
  display: flex;
  flex-direction: column;
  padding: 32px;
  border: 1px solid #d9d9d9;
  background-color: #f7f7f7;
  text-align: left;
}

.showcase-stars {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 24px;
}

.showcase-star:not(:last-child) {
  margin-right: 4px;
}

.showcase-star {
  width: 24px;
  height: 24px;
  fill: #000;
  flex-shrink: 0;
}

.showcase-star-outline {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  transform: scale(0.92);
  transform-origin: center;
}

.showcase-review-text {
  margin-bottom: 24px;
  font-size: 18px;
}

.showcase-review-name {
  margin-top: auto;
  font-weight: 600;
}

/* ================== TABLET ================== */

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .showcase-section {
    padding-bottom: 96px;
  }

  .showcase-container {
    max-width: 768px;
    padding: 0 32px;
  }

  .showcase-top {
    max-width: 768px;
    margin: 0 auto 40px;
  }

  .showcase-title {
    margin-bottom: 24px;
  }

  .showcase-list {
    width: 704px;
    margin: 0 auto;
    gap: 24px;
  }

  .showcase-item {
    flex-direction: row;
    gap: 24px;
  }

  .showcase-images {
    flex-direction: row;
    gap: 24px;
  }

  .showcase-img {
    width: 203px;
    height: 260px;
  }

  .showcase-review {
    width: 250px;
    height: 260px;
    padding: 32px;
  }

  .showcase-stars {
    margin-bottom: 24px;
  }

  .showcase-star {
    width: 20px;
    height: 20px;
  }

  .showcase-review-text {
    margin-bottom: 43px;
  }

  .showcase-review-name {
    margin-top: 0;
  }
}

/* ================== DESKTOP ================== */

@media screen and (min-width: 1440px) {
  .showcase-section {
    padding: 64px 0;
  }

  .showcase-container {
    max-width: 1440px;
    padding: 0 64px;
  }

  .showcase-top {
    max-width: 768px;
    margin: 0 auto 80px;
  }

  .showcase-title {
    margin-bottom: 24px;
  }

  .showcase-list {
    gap: 32px;
  }

  .showcase-item {
    flex-direction: row;
    gap: 32px;
  }

  .showcase-images {
    flex-direction: row;
    gap: 32px;
  }

  .showcase-img {
    width: 304px;
    height: 260px;
  }

  .showcase-review {
    width: 640px;
    height: 260px;
    padding: 32px;
  }

  .showcase-stars {
    margin-bottom: 24px;
  }

  .showcase-star {
    width: 20px;
    height: 20px;
  }

  .showcase-review-text {
    margin-bottom: 97px;
  }

  .showcase-review-name {
    margin-top: 0;
  }
}